.container(style='padding:0;')
  .row
    h1(style='position: absolute;width: 100vw;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;color:white') Pre-registration
    p.lead(style='position: absolute;width: 100vw;margin-top: 10%;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;color:white') Look into the camera, and wait until the scan is performed
    video#video(autoplay='')
    canvas#canvas(width='640', height='480', hidden)
    .container(style='position: absolute;padding: 0;bottom: 0;padding-bottom: 5%;')
      .row
        .progress
          .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:70%')
            | 70%
        #t1.text-success(hidden, style='text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;color:white')
          strong Success!
          |  Iris scanned
        #t2.text-success(hidden, style='text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;color:white')
          strong Success!
          |  Facial recognition done
        button.btn.btn-hack(id='snap', value='Save') Save
        form.form-horizontal(action='saveFaceRecon', hidden, method='post', id="form")
          input(type='hidden', name='token', value=token)
          input(id='photo', type='hidden', name='photo')
          button.btn.btn-hack(value='Next') Next

script.
  var video = document.getElementById('video');
  // Get access to the camera!
  if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
      // Not adding `{ audio: true }` since we only want video now
      navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
          video.src = window.URL.createObjectURL(stream);
          video.play();
      });
  }
  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  var video = document.getElementById('video');

  // Trigger photo take
  document.getElementById("snap").addEventListener("click", function() {
    context.drawImage(video, 0, 0, 640, 480);
    $("#photo").val(canvas.toDataURL("image/png"));
    $("#snap").hide();
    $("#form").show();
    $("#t1").show();
    $("#t2").show();
  });