extends layout

block content
  h1 Home
  p.lead Please insert your token
  hr
  form.form-horizontal(action='', method='post', style='padding:5%')
    .form-group
      label(for='token') Token
      input.form-control(type='text', name='token', id='token', placeholder='token', autofocus, required)