extends layout

block content
  h1 Login
  p.lead Provide your biometric details in order to proceed with login
  .panel-body.center-block
    img.center-block(src='/images/fingerprint.png', alt='Camera')
  form.form-horizontal(action='search', method='get')
    button.btn.btn-hack(value='Next') Login